.vs/
.sonarqube/
Library.Web/bin/
Library.Web/obj/
Library.Data/bin/
Library.Data/obj/
Library.Service/bin/
Library.Service/obj/
Library.Web/Scaffolding*
Library.Web/wwwroot/lib/
Library.Tests/bin/
Library.Tests/obj/
.coveralls.*
appveyor.yml
coverage/
coverage.bat
.idea*
