.vs/
.sonarqube/
Library/bin/*
Library/obj/*
LibraryData/bin/*
LibraryData/obj/*
LibraryService/bin/*
LibraryService/obj/*
Library/Scaffolding*
Library/wwwroot/lib/*
Library.Tests/bin/*
Library.Tests/obj/*
.coveralls.*
