@{
    ViewData["Title"] = "Home";
}

<h3>Welcome to Lakeview ILS</h3>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="catalog">
                <h2 class="mdl-card__title-text homeLabel">Library Catalog</h2>
            </div>
            <div class="mdl-card__supporting-text">
                View and manage library assets.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored" asp-controller="Catalog" asp-action="Index">
                    View Catalog
                </a>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="patrons">
                <h2 class="mdl-card__title-text homeLabel">Patrons</h2>
            </div>
            <div class="mdl-card__supporting-text">
                View and manage library patron data.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored" asp-controller="Patron" asp-action="Index">
                    View Patron Index
                </a>
            </div>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand" id="branches">
                <h2 class="mdl-card__title-text homeLabel">Branches</h2>
            </div>
            <div class="mdl-card__supporting-text">
                View and manage Lakeview branches.
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored" asp-controller="Branch" asp-action="Index">
                    View Branch Index
                </a>
            </div>
        </div>
    </div>
</div>